<header>
    <a href="/" id="nav-brand">gosocial</a>
    <nav>
       <ul>
         <% if (locals.user) { %>
            <li>
                <a href="/users/profile"><%= user.username  %> </a>
            </li>
            <a href="/users/sign-out">Sign out</a>
         <% } else {%>
            <li>
                <a href="/users/SignIn">Sign In</a>
            </li>
            <li>
               <a href="/users/SignUp">Sign Up</a>
               </li>
          <%} %>
       </ul>
    </nav>
</header>