<div style="margin:2rem 0 0 4rem">
    <form action="/users/update-password/<%= token %>" method="post">
        <input type="password" name="password" placeholder="Enter your new password"><br>
        <input type="password" name="conform_password" placeholder="Re-your new password"><br>
        <input type="submit" value="Reset">
  </form>   
</div>